.container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  padding: 10px;
  grid-template-areas:
    'merah hijau hijau ungu ungu'
    'merah pink hijau_muda hijau_muda hijau_muda'
    'merah pink biru biru_tua biru_tua'
    'jingga pink biru biru_tua biru_tua'
    'jingga kuning kuning biru_tua biru_tua'
    'jingga kuning kuning biru_tua biru_tua';
}

.container > div {
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.merah {
  grid-area: merah;
}

.bgmerah {
  background-color: red;
}

.hijau {
  grid-area: hijau;
}

.bghijau {
  background-color: green;
}

.ungu {
  grid-area: ungu;
}

.bgungu {
  background-color: purple;
}

.pink {
  grid-area: pink;
}

.bgpink {
  background-color: pink;
}

.kuning {
  grid-area: kuning;
}

.bgkuning {
  background-color: yellow;
}

.biru {
  grid-area: biru;
}

bg.biru {
  background-color: green;
}

.hijau_muda {
  grid-area: hijau_muda;
}

.bghijau_muda {
  background-color: gold;
}

.biru_tua {
  grid-area: biru_tua;
}

.bgbiru_tua {
  background-color: blue;
}

.jingga {
  grid-area: jingga;
}

.bgjingga {
  background-color: rgb(187, 187, 27);
}

.fontkuning {
  color: yellow;
}
